<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso de internet (IMPORTANTE para conectar al backend) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduRooms"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.EduRooms"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity (menú principal) -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:label="Menu"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".ui.activities.ListaAulasActivity"
            android:exported="true"
            android:label="Aulas"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".ui.activities.DetalleAulaActivity"
            android:exported="true"
            android:label="Detalle Aula"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".ui.activities.ReservaActivity"
            android:exported="true"
            android:label="Nueva Reserva"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".ui.activities.IncidenciasActivity"
            android:exported="true"
            android:label="Incidencias"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="true"
            android:label="Registrarse"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
    </application>
</manifest>