<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso de internet (IMPORTANTE para conectar al backend) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduRooms"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="Instantiatable"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity (menú principal) -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:label="Menu"
             />

        <activity
            android:name=".ui.activities.ListaAulasActivity"
            android:exported="true"
            android:label="Aulas" />

        <activity
            android:name=".ui.activities.DetalleAulaActivity"
            android:exported="true"
            android:label="Detalle Aula" />

        <activity
            android:name=".ui.activities.ReservaActivity"
            android:exported="true"
            android:label="Nueva Reserva" />

        <activity
            android:name=".ui.activities.MisReservasActivity"
            android:exported="true"
            android:label="Mis Reservas"/>

        <activity
            android:name=".ui.activities.IncidenciasActivity"
            android:exported="true"
            android:label="Incidencias"/>

        <activity
            android:name=".ui.activities.PerfilActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.activities.RecuperarPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.GestionarUsuariosActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.CrearUsuarioActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.DetalleUsuarioActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.CambiarPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.DetalleReservaActivity"
            android:exported="false"
            android:label="Detalle Reserva"/>

    </application>
</manifest>